*{
    margin:0px;
    padding:0px;
    box-sizing:border-box;
}
.main-container{
    background-color:#B86E6E;
    padding-top:50px;
    padding-bottom:50px;
}
.section-title{
    color:white;
    text-align:center;
    margin-top:50px;
    margin-bottom:30px;
}
.container {
    max-width:900px;
    margin:auto;
    display:flex;
}

/* Header Section */
#header .container{
    border:5px solid #fff;
    background-color:#C92E2E;
    align-items:center;
    border-radius:10px;
    box-shadow: 2px 2px 10px rgb(0, 0, 0);
}
#header .content {
    flex-basis:60%;
    text-align:center;
    line-height:40px;
    color:#fff;
    padding-top:50px;
}
#header .img-div {
    flex-basis:40%;
}
#header .img-div img {
    width:100%;
    height:auto;
    object-fit:cover;
}
#header .content h4 {
    letter-spacing:5px;
}
#header .content p {
    margin-bottom:20px;
}
#header .icons {
    display:inline;
    font-size:30px;
    margin:15px;
}
#header .icons:nth-child(4) i{
    color:rgb(140, 4, 4);
}
#header .icons:nth-child(5) i{
    color:pink;
}
#header .icons:nth-child(6) i{
    color:blue;
}
/* About Me Section */
#about-me .container > div{
    /* border:3px solid black; */
    flex-basis:50%;
}
#about-me .img-div img{
    width:200px;
    height:200px;
    border-radius:50%;
    display:block;
    margin:auto;
    margin-top:20px;
    box-shadow: 2px 2px 10px rgb(0, 0, 0);
    
}
#about-me .container {
    align-items:center;
}
#about-me .content h2 {
    line-height:40px;
    margin-bottom:10px;
}
.container .content p {
    font-size:17px;
}
/* My Skills */
#my-skills .container {
    align-items:center;
    }
}
#my-skills .container > div {
    border:2px solid black;
    flex-basis:50%;
}
#my-skills .img-div{
    padding:40px 30px;
}
#my-skills .img-div img {
    width:100%;
    border-radius:10px;
    box-shadow: 2px 2px 5px rgb(0, 0, 0);
    
}
#my-skills .content ul {
    list-style-type:none;
}
#my-skills .content ul li {
    /* border:2px solid black; */
    padding:10px 15px;
    margin:5px 5px 5px 0;
    display:inline-block;
    background-color:#a18787;
    border-radius:5px;
    box-shadow: 1px 1px 3px rgb(0, 0, 0);
    /* font-size:17px; */
    

}
#my-skills .content h2 {
    color:white;
}

.title {
    padding-top:25px;
}
#my-works .container {
    /* border:2px solid white; */
    justify-content:space-between;
}
#my-works .cards{
    /* border:2px solid black; */
    flex-basis:30%;
    text-align:center;
    background-color:#C92E2E;
    box-shadow: 2px 2px 10px rgb(0, 0, 0);
    padding:20px;
    color:#fff;
}
#my-works .cards h2{
    margin:20px;
    color:#fff;
}
#my-works .cards div {
    color:#fff;
    font-size:30px;
}

/* Contact Me */
#contact-me .container .info ul {
    list-style-type:none;
}
#contact-me .container div {
    /* border:2px solid black; */
    flex-basis:50%;
}
#contact-me .container .info li {
    margin:20px 0;
    color:white;
}
#contact-me .container .info i {
    color:black;
    margin-right:10px;
}
#contact-me form {
    display:flex;
    justify-content:space-between;
}
#contact-me .form input{
    flex-basis:49%;
    padding:10px 10px;
}
#contact-me .form textarea {
    width:100%;
    height:100px;
    margin:10px 0px 6px 0px;
    padding:10px 10px;
}
#contact-me .form button {
    padding:10px 20px;
    background-color:#a18787; 
    box-shadow: 2px 2px 5px rgb(77, 67, 67);
    border-radius:10px;
    color:white;
    font-weight: bold;
    float:right;
}
